@import 'tailwindcss';

@theme {
  --color-purple-main: hsl(238, 40%, 52%);
  --color-purple-secondary: var(--color-purple-50);
  --color-error-main: hsl(358, 79%, 66%);
  --color-error-secondary: hsl(357, 100%, 86%);
}

:root {
  background: var(--color-purple-secondary);
}
